# apply Filter on date column
 * dataframe.column.dt
 * dt.strftime
 * ft.strptime
# from datetime import datetime

          date   fee
0   2024-06-12  1228
1   2024-01-07  2518
2   2024-03-11  1501
3   2024-02-27  1285
4   2024-07-07  1209
..         ...   ...
995 2024-06-04  2902
996 2024-06-17  2698
997 2024-06-26  1547
998 2024-01-08  1369
999 2024-03-10  2439

[1000 rows x 2 columns]

In [13]:
from datetime import datetime
import pandas as pd

In [14]:
import pandas as pd
from datetime import datetime
from typing import List
import pandera as pa
from pandera.typing import DataFrame, Series

# Define the data structure with static type annotations
class Student:
    def __init__(self, roll_no: int, name: str, fathername: str, date_of_admission: datetime, fee: int, course: str):
        self.roll_no = roll_no
        self.name = name
        self.fathername = fathername
        self.date_of_admission = date_of_admission
        self.fee = fee
        self.course = course

# Create a list of students
students: List[Student] = [
    Student(1, "Alice", "John", datetime(2022, 1, 10), 1500, "Mathematics"),
    Student(2, "Bob", "Robert", datetime(2022, 2, 14), 2000, "Physics"),
    Student(3, "Charlie", "Michael", datetime(2022, 3, 18), 1500, "Chemistry"),
    Student(4, "David", "William", datetime(2022, 4, 22), 2500, "Mathematics"),
    Student(5, "Eva", "Richard", datetime(2022, 5, 26), 2000, "Computer Science"),
    Student(6, "Frank", "Joseph", datetime(2022, 6, 30), 1500, "Mathematics"),
    Student(7, "Grace", "Charles", datetime(2022, 7, 4), 2500, "Physics"),
    Student(8, "Hannah", "Thomas", datetime(2022, 8, 8), 2000, "Mathematics"),
    Student(9, "Ivan", "Christopher", datetime(2022, 9, 12), 1500, "Biology"),
    Student(10, "Jack", "Daniel", datetime(2022, 10, 16), 2500, "Computer Science")
]

# Convert the list of students to a DataFrame
student_df = pd.DataFrame([{
    "roll_no": student.roll_no,
    "name": student.name,
    "fathername": student.fathername,
    "course": student.course,
    "date_of_admission": student.date_of_admission,
    "fee": student.fee,
} for student in students])

# Define the schema using pandera

class StudentSchema(pa.SchemaModel):
    roll_no: Series[int] = pa.Field(ge=1)
    name: Series[str] = pa.Field()
    fathername: Series[str] = pa.Field()
    course: Series[str] = pa.Field()
    date_of_admission: Series[datetime] = pa.Field()
    fee: Series[int] = pa.Field(ge=0)

    class Config:
        coerce = True

# Validate the DataFrame
validated_student_df: DataFrame[StudentSchema] = StudentSchema.validate(student_df)

# Display the validated DataFrame
print(validated_student_df)

   roll_no     name   fathername            course date_of_admission   fee
0        1    Alice         John       Mathematics        2022-01-10  1500
1        2      Bob       Robert           Physics        2022-02-14  2000
2        3  Charlie      Michael         Chemistry        2022-03-18  1500
3        4    David      William       Mathematics        2022-04-22  2500
4        5      Eva      Richard  Computer Science        2022-05-26  2000
5        6    Frank       Joseph       Mathematics        2022-06-30  1500
6        7    Grace      Charles           Physics        2022-07-04  2500
7        8   Hannah       Thomas       Mathematics        2022-08-08  2000
8        9     Ivan  Christopher           Biology        2022-09-12  1500
9       10     Jack       Daniel  Computer Science        2022-10-16  2500

In [15]:
student_df

   roll_no     name   fathername            course date_of_admission   fee
0        1    Alice         John       Mathematics        2022-01-10  1500
1        2      Bob       Robert           Physics        2022-02-14  2000
2        3  Charlie      Michael         Chemistry        2022-03-18  1500
3        4    David      William       Mathematics        2022-04-22  2500
4        5      Eva      Richard  Computer Science        2022-05-26  2000
5        6    Frank       Joseph       Mathematics        2022-06-30  1500
6        7    Grace      Charles           Physics        2022-07-04  2500
7        8   Hannah       Thomas       Mathematics        2022-08-08  2000
8        9     Ivan  Christopher           Biology        2022-09-12  1500
9       10     Jack       Daniel  Computer Science        2022-10-16  2500

In [16]:
student_df['date_of_admission']

0   2022-01-10
1   2022-02-14
2   2022-03-18
3   2022-04-22
4   2022-05-26
5   2022-06-30
6   2022-07-04
7   2022-08-08
8   2022-09-12
9   2022-10-16
Name: date_of_admission, dtype: datetime64[ns]

In [17]:
#student_df['date_of_admission'].dt.year
student_df['date_of_admission'].dt.month

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: date_of_admission, dtype: int32

In [18]:
student_df['date_of_admission'].dt.day # .dt.month, dt.weekday, .dt.hour, .dt.minute, .dt.timezone or tz

0    10
1    14
2    18
3    22
4    26
5    30
6     4
7     8
8    12
9    16
Name: date_of_admission, dtype: int32

In [19]:
[i for i in dir(student_df['date_of_admission'].dt) if"_" not in i]

['ceil',
 'date',
 'day',
 'dayofweek',
 'dayofyear',
 'daysinmonth',
 'floor',
 'freq',
 'hour',
 'isocalendar',
 'microsecond',
 'minute',
 'month',
 'nanosecond',
 'normalize',
 'quarter',
 'round',
 'second',
 'strftime',
 'time',
 'timetz',
 'tz',
 'unit',
 'weekday',
 'year']

In [20]:
from datetime import datetime

date : datetime =datetime.now()
date

datetime.datetime(2024, 7, 24, 4, 54, 19, 242636)

In [21]:
s1 : pd.Series = pd.Series([date])
s1

0   2024-07-24 04:54:19.242636
dtype: datetime64[ns]

In [23]:
s1.dt.strftime("%y")

0    24
dtype: object

In [38]:
#s1.dt.strftime("%y/%m")
#s1.dt.strftime("%Y")
#s1.dt.strftime("%Y/%m %d")
#s1.dt.strftime("%Y %d %B")
#s1.dt.strftime("%y %b")
#s1.dt.strftime(" %I %B")
s1.dt.strftime("%y %B")

0    24 July
dtype: object

In [41]:
s2 : pd.Series = pd.Series(['01 Nov 2014', '01 Jan 2014', '01 Feb 2014'])
s2

0    01 Nov 2014
1    01 Jan 2014
2    01 Feb 2014
dtype: object

In [42]:
s2.apply(lambda x : datetime.strptime(x, "%d %b %Y")) # string to date format

0   2014-11-01
1   2014-01-01
2   2014-02-01
dtype: datetime64[ns]