# String Datatype in Python

In [1]:
name: str= "Shafqat"
print (type(name))
print (name)

<class 'str'>
Shafqat

In [2]:
message: str= "PIAIC student card \n Father's Name"
print (message)

PIAIC student card
 Father's Name

In [3]:
name:str= "M Shafqat"
fathername:str= "Ghulam Sarwar"
education:str= "Master's in Computer Science"
age:int=30

card:str= "PIAC Student Card\
    \n Student Name:"+name+\
"\n Age:"+ str(age)+\
"\n Education:"+education
print (card)

PIAC Student Card
 Student Name:M Shafqat
 Age:30
 Education:Master's in Computer Science

F string

In [4]:
name:str= "M Shafqat"
fathername:str= "Ghulam Sarwar"
education:str= "Master's in Computer Science"
age:int=30

card : str = f"""
PIAC Student Card
Student Name: {name}
Father's name: {fathername}
Age: {age}
Education: {education}
Total{1+2+3-1}
"""

print (card)

PIAC Student Card
Student Name: M Shafqat
Father's name: Ghulam Sarwar
Age: 30
Education: Master's in Computer Science
Total5

F-string and Jinja style

In [5]:
name:str= "M Shafqat"
fname:str= "Ghulam Sarwar"
education:str= "Master's in Computer Science"
age:int=30

card : str = f"""
PIAC Student Card
Student Name:
Father's name:
Age: 
Education:

""" % (name, fname, age, education)

print (card)

TypeError: not all arguments converted during string formatting

In [ ]:
name:str="M Shafqat sarwar"
print(name.capitalize())

M shafqat sarwar

In [ ]:
name:str= "M Shafqat"
fname:str= "Ghulam Sarwar"
education:str= "Master's in Computer Science"
age:int=30

card : str = """
PIAC Student Card
Student Name: {}
Father's name: {}
Education: {}
Age: {}

""".format(name,fname, education, age)

print (card)

PIAC Student Card
Student Name: M Shafqat
Father's name: Ghulam Sarwar
Education: Master's in Computer Science
Age: 30

In [ ]:
student_code : str = """
print ( " My name is M Shafqat Sarwar")
a:int = 7
b:int = 8
print (a+b)
"""

exec (student_code)

 My name is M Shafqat Sarwar
15

explore string method and attributes
predefine global functions
Print
type
id
dir
len

In [ ]:
#a: list[str] = [1 for 1 in dir (str) if "_" not in 1]
a: list[str] = [name for name in dir(str) if "_" not in name]

print (a)
print (len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
46

In [ ]:
name : str = "M Shafqat Sarwar"
print (name)
print(name.capitalize())
print(name.lower())
print(name.casefold())

M Shafqat Sarwar
M shafqat sarwar
m shafqat sarwar
m shafqat sarwar

In [ ]:
name : str = "   M Shafqat Sarwar  "   
print (name)
display (name.lstrip())

   M Shafqat Sarwar

'M Shafqat Sarwar  '

In [ ]:
name : str = "   M Shafqat Sarwar  "   
print (name)
display (name.rstrip())

   M Shafqat Sarwar

'   M Shafqat Sarwar'

In [ ]:
name : str = "   M Shafqat Sarwar  "   
print (name)
display (name.strip())

   M Shafqat Sarwar

'M Shafqat Sarwar'

In [ ]:
import re
name : str = "   M   Shafqat Sarwar  "   
display(name)
name1:str= re.sub(' {2,100}',' ', name).strip()
display(name1)

'   M   Shafqat Sarwar  '

'M Shafqat Sarwar'

In [ ]:
print("Name:\t\t M SHafqat")

Name:		 M SHafqat

In [ ]:
print("Name:\n M SHafqat")

Name:
 M SHafqat

In [6]:
print("Name:\b M SHafqat")

Name M SHafqat

In [ ]:
nostarch_url:str ="https://nostarch.com"
nostarch_url.removeprefix ('https://')

'nostarch.com'

naming convention