# List method

In [14]:

name1 : str ="Sarwar"
name2 : str ="Shafqat"
name3 : str = "Khan"

In [15]:
#  ->     0        1          2
names=["Sarwar", "Shafqat", "Khan"]
# <-    -3         -2         -1
print (names[0])
print (names[-2])
print (names[-1])

Sarwar
Shafqat
Khan

In [22]:
from typing import Any, List
#  ->                   0        1          2
names : List[Any] = ["Sarwar", "Shafqat", "Khan"]
# <-                   -3         -2         -1
print (f' Student of PIAIC {names[-2]}')

# from typing import Any, List

# names: List[Any] = ["Sarwar", "Shafqat", "Khan"]
# print(f'Student of PIAIC {names[-2]}')

 Student of PIAIC Shafqat

In [ ]:
from typing import Any
#  ->              0        1          2
names : list[Any] = ["Sarwar", "Shafqat", "Khan"]
# <-              -3         -2         -1
print (type(names))
print (names[-2])
print (names[-1].upper())

<class 'list'>
Shafqat
KHAN

Sclicing
start : int = include variab 'names[:start :end :step]
end : int = n-1
step : int = sequence

In [ ]:
characters : list[str] = list ("ABCDEFGHIJKLMNOPQRSTUVWXYZ")
print (characters)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
#  ->   0    1    2    3
list =['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
# <-   -26    -25 

print (characters [0:2]) # 0= include : index 2-1=1
print (characters [:2]) # not pass any number =all
print (characters [-26:-24]) #0 = include : index -24-1 = -25

print (characters [0:2:1]) # 0= include : index 2-1=1

['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']

In [ ]:
#
characters = ['A', 'B', 'C', 'D', 'E', 'F', 'G','H']
#   <-          -8  -7   -6   -5   -4   -3   -2   -1
#step -> positive
#step <- negative
print (characters[::2])
print (characters[::-1])
print (characters[-2:-5])
print (characters[-2:-5:-1])
print (characters[-5:-1])

['A', 'C', 'E', 'G']
['H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']
[]
['G', 'F', 'E']
['D', 'E', 'F', 'G']

In [ ]:
from typing import Any
#       ->             0        1          2      3
names : list [Any] = ["Sarwar", "Shafqat", "Khan", 35]
#      <-               -4       -3        -2     -1
print (type(names))
del names[3]
print (names)

TypeError: list indices must be integers or slices, not _AnyMeta

In [ ]:
a: str= print('pakistan')
display(a)

pakistan

None

In [ ]:
a: str= id(names)
display(a)

1938403005248

In [ ]:
[i for i in dir (list) if "-" not in i]

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [ ]:
from typing import Any
#       ->             0        1          2      3
names : list [Any] = ["Sarwar", "Shafqat", "Khan", 35]
#      <-               -4       -3        -2     -1
print(names)
a : str = names.pop()
print(a)

['Sarwar', 'Shafqat', 'Khan', 35]
35

In [ ]:
print(print('pakistan'))

pakistan
None

# Pop method
append method add element at last

In [ ]:
from typing import Any
#       ->             0        1          2      3
names : list [Any] = ["Sarwar", "Shafqat", "Khan", 35]
#      <-               -4       -3        -2     -1
print(names)
a : str = names.pop(0)
print(a)

print(names)

['Sarwar', 'Shafqat', 'Khan', 35]
Sarwar
['Shafqat', 'Khan', 35]

In [ ]:
names: list[str] = []
names.append('sarwar')
names.append('khan')
names.append('35')
names.append('shafqat')



print(names)

['sarwar', 'khan', '35', 'shafqat']

In [ ]:
a:list[str]=[1,2,3]
del a
print (a)

NameError: name 'a' is not defined

In [ ]:
a:list[str]=[1,2,3]
a.clear
print (a)

[1, 2, 3]

In [ ]:
# ->                  0    1    2    3    4   5
names : list[str] = ['a', 'b', 'c', 'd', 'e', 1]
print(names)
names.insert(3,'khan')
print(names)

['a', 'b', 'c', 'd', 'e', 1]
['a', 'b', 'c', 'khan', 'd', 'e', 1]

In [ ]:
a:list[str]=[1,2,3]
b=a
print (a)
print (b)

b[0]='pakistan'

print (a)
print (b)

[1, 2, 3]
[1, 2, 3]
['pakistan', 2, 3]
['pakistan', 2, 3]

In [ ]:
a:list[str]=[1,2,3]
b=a.copy()
print ('a',a)
print ('b',b)

b[0]='pakistan'

print ('a',a)
print ('b',b)

a [1, 2, 3]
b [1, 2, 3]
a [1, 2, 3]
b ['pakistan', 2, 3]

In [ ]:
names : list[str] = ['a','a','b','b','b','c','c','c','c']
print (names.count('c'))

4

In [ ]:
names : list[str] = ['a','b','c']
new_names : list[str] = ['shafqat', 'khan', 'sarwar']
names.append(new_names)
names

['a', 'b', 'c', ['shafqat', 'khan', 'sarwar']]

In [ ]:
names : list[str] = ['a','b','c']
new_names : list[str] = ['shafqat', 'khan', 'sarwar']
names.extend(new_names)
names

['a', 'b', 'c', 'shafqat', 'khan', 'sarwar']

In [ ]:
names : list[str] = ['a','b','c']
names.remove('b')
names

['a', 'c']

In [ ]:
names : list[str] = ['a','b','c','b']
names.index('c')

2

In [ ]:
names : list[str] = ['a','b','c','b']
names.index('b',2)

3

In [ ]:
names : list[str] = ['a','b','c','b']
print (names)
names.reverse()
print (names)

['a', 'b', 'c', 'b']
['b', 'c', 'b', 'a']

In [ ]:
names : list[str] = ['a','b','c','b']
print (names)
names.sort()
print (names)

['a', 'b', 'c', 'b']
['a', 'b', 'b', 'c']

In [ ]:
names : list[str] = ['a','b','c','b']
print (names)
names.sort(reverse=True)
print (names)

['a', 'b', 'c', 'b']
['c', 'b', 'b', 'a']

In [ ]:
names : list[str] = ['a','b','c','b']
len(names)

4

In [ ]:
names : list[str] = ['a','b','c','b']

del names[1:4]
names

['a']