## Error Handling
# connected to class 11

 * specific error Handling

In [13]:
print ('logic1')
print ('logic2')
l1: list[int]= [1,2,3,4,]
try:
    print (7/2) # Error
    print (l1[5]) # Error
    print ( xyz ) # Error
except ZeroDivisionError:
    print ('zero division error!')
except IndexError:
    print ('index Error')
except NameError:
    print ('name Error')
print ('logic3')
print ('logic4')
print ('logic5')

logic1
logic2
3.5
index Error
logic3
logic4
logic5

In [14]:
print ('logic1')
print ('logic2')
l1: list[int]= [1,2,3,4,]
try:
    print (7/2) # Error
    print (l1[3]) # Error
    print ( 'xyz' ) # Error
    open ('aa.txt') # Error

except ZeroDivisionError:
    print ('zero division error!')
except IndexError:
    print ('index Error')
except NameError:
    print ('name Error')
except:
    print ('some thing is Wrong')
print ('logic3')
print ('logic4')
print ('logic5')

logic1
logic2
3.5
4
xyz
some thing is Wrong
logic3
logic4
logic5

In [15]:
try:
    print(age)
except Exception as e:
    print (f"some thing is Wrong! \n {e}")

some thing is Wrong!
 name 'age' is not defined

In [16]:
try:
    print (l1[200])
except Exception as e:
    print (f"some thing is Wrong! \n {e}")

some thing is Wrong!
 list index out of range

In [17]:
class StudentCard():
    def __init__ (self, roll_no:int, name:str, age:int) -> None:
        if age < 18 or age > 60 :
            raise AgeError ("you are not Eligible for this Program!")
        self.roll_no = roll_no
        self.name = name
        self.age = age

class AgeError(Exception):
    pass
student1 = StudentCard (10, "Khan", 30)
print ( student1.name, student1.roll_no, student1.age)

Khan 10 30

In [18]:
student1 = StudentCard (1, "sarwar", 61)
print ( student1.name, student1.roll_no, student1.age)

AgeError: you are not Eligible for this Program!

In [ ]:
student1 = StudentCard (1, "sarwar", 16)
print ( student1.name, student1.roll_no, student1.age)

AgeError: you are not Eligible for this Program!

# File Handling
<img src="" >

* Read Only ('r')
* Read and Write ('r+')
* Write Only ('w')
* Write and Read ('w+')
* Append Only ('a')
* Append and Read ('a+')

50 minutes

In [5]:
[i for i in dir(data) if"__" not in i]

['_CHUNK_SIZE',
 '_checkClosed',
 '_checkReadable',
 '_checkSeekable',
 '_checkWritable',
 '_finalizing',
 'buffer',
 'close',
 'closed',
 'detach',
 'encoding',
 'errors',
 'fileno',
 'flush',
 'isatty',
 'line_buffering',
 'mode',
 'name',
 'newlines',
 'read',
 'readable',
 'readline',
 'readlines',
 'reconfigure',
 'seek',
 'seekable',
 'tell',
 'truncate',
 'writable',
 'write',
 'write_through',
 'writelines']

In [3]:
from typing import TextIO
data:TextIO = open ("./abc.txt")
print (data.read)

<built-in method read of _io.TextIOWrapper object at 0x000001DAC8BEDA80>

In [4]:
open ("./abc.txt")

In [6]:
type(data)

_io.TextIOWrapper

In [12]:
from typing import TextIO
data:TextIO = open ("./abc.txt")
print (data.read())

data.close()

line 1
line 2
line 3
line 4
line 5
Pakistan

In [11]:
with open ("./abc.txt" ) as file:
    print (type(file))
    print(file.read())

<class '_io.TextIOWrapper'>
line 1
line 2
line 3
line 4
line 5
Pakistan

In [13]:
with open ("./abc.txt" ) as file:
    print (type(file))
    print(file.readline())  # read only 1 line (first line)

<class '_io.TextIOWrapper'>
line 1

In [14]:
with open ("./abc.txt" ) as file:
    print (type(file))
    print(file.readlines()) # read all lines (iteration)

<class '_io.TextIOWrapper'>
['line 1\n', 'line 2\n', 'line 3\n', 'line 4\n', 'line 5\n', 'Pakistan\n']

In [17]:
with open ("./abc.txt" ) as file:
    print (type(file))
    print(file.readlines(), end="") # read all lines (iteration)

<class '_io.TextIOWrapper'>
['line 1\n', 'line 2\n', 'line 3\n', 'line 4\n', 'line 5\n', 'Pakistan\n']

In [16]:
with open ("./abc.txt" ) as file:
    print (type(file))
    print(file.readlines()[:5]) # read all lines (specific line)

<class '_io.TextIOWrapper'>
['line 1\n', 'line 2\n', 'line 3\n', 'line 4\n', 'line 5\n']

In [20]:
with open ("./abc.txt", "r" ) as file:
    print (type(file))
    print(file.read()) 
    file.write("Pakistan Zinda Abad")

<class '_io.TextIOWrapper'>
line 1
line 2
line 3
line 4
line 5
Pakistan

UnsupportedOperation: not writable

In [21]:
with open ("./abc1.txt", "w" ) as file: # write access
    file.write("Pakistan Zinda Abad")

In [22]:
with open ("./abc1.txt", "r+" ) as file: # read and write access
    print (file.read())
    file.write("Pakistan Zinda Abad")

Pakistan Zinda Abad

In [30]:
with open ("./abc1.txt", "r+" ) as file: # read and write access
    print (file.read())
    file.write("we love our country !")
    file.seek(0)
    print ("After", file.read())

Pakistan zinda Abad
After Pakistan zinda Abadwe love our country !

# Now change Modes
 * add file
 1:06 minutes

In [31]:
with open ("./abc2.txt", "w" ) as file: # add new file
    file.write("Pakistan")
    #print (file.read())

print ('logic1')
print ('logic2')
l1: list[int]= [1,2,3,4,]
try:
    print (7/0) # Error
    print (l1[2]) # Error
    print ( xyz ) # Error
except ZeroDivisionError:
    print ('zero division error!')
except IndexError:
    print ('index Error')
except NameError:
    print ('name Error')
print ('logic3')
print ('logic4')
print ('logic5')