Arithmetic operators 

Assignment operators

Logical operators
Identity operators
Membership operators
Bitwise operators

In [1]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [1]:
a: int = 7
b: int =2
print (a+b)
print (a-b)
print (a*b)
print (a/b)

9
5
14
3.5

In [3]:
a: int = 11
b: int = 3
print (a%b)

2

In [4]:
print (2**2)
print (2**3)

4
8

In [9]:
print (14.8/3)

4.933333333333334

In [10]:
print (14.8//3)

4.0

Comparison operators

==	Equal	x == y	type and value
!=	Not equal	x != y	
>	Greater than	x > y	
<	Less than	x < y	
>=	Greater than or equal to	x >= y	
<=	Less than or equal to	x <= y

In [5]:
a: int = 11
b: int = 3
print (a==b)

False

In [6]:
a: int = 11
b: int = 3
print (a!=b)

True

In [7]:
a: int = 11
b: int = 3
print (a>b)

True

In [11]:
a: int = 7
b: int = 3
print (a>=b)

True

Python Logical Operators

and Returns True if both statements are true x < 5 and x <10	
or	Returns True if one of the statements is true x < 5 or x <4	
not	Reverse the result, returns False if the result is true

In [13]:
# and compulsory
# or optional
# 1       2        3        4
True and True and True and True

True

In [ ]:
# and compulsory
# or optional
# 1       2        3        4
print(True and True and True and True)

In [14]:
# and compulsory
# or optional
# 1       2        3        4
print(True or True or True or True)
print(False or False  or False  or False)

True
False

In [15]:
not True

False

In [16]:
name: str = "Qasim"
print(not name == "Qasim")

False

In [17]:
name: str = "Qasim"
print(name != "Qasim")

False

Python Identity Operators

is 	Returns True if both variables are the same object	x is y	
is not	Returns True if both variables are not the same object

In [23]:
x : str = 'abc'
z : str = 'abc'
print (id(x))
print (id(x))
x = z
x is not z

140714121105672
140714121105672

False

Python Membership Operators

in 	Returns True if a sequence with the specified value is present in the object	x in y	
not in	Returns True if a sequence with the specified value is not present in the object

In [30]:
names: list[str] = [chr() for i in range (65,91)]
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [ ]:
names : list [str]

In [39]:
names: list[str] = [chr(i) for i in range (65,91)]
"D" in names

True

In [40]:
names: list[str] = [chr(i) for i in range (65,91)]

"PAkistan" in names

True

In [37]:
names: list[str] = [chr(i) for i in range (65,91)]
uiinput : str = input ("entr your name")
uiinput  not in names
# you can check A to Z

True

In [ ]:
names: list[str] = [chr(i) for i in range (65,91)]
uiinput : str = input ("entr your name")
uiinput  not in names
# you can check A to Z

PEMDAS

Operator Precedence

()	Parentheses	
**	Exponentiation	
+x  -x  ~x	Unary plus, unary minus, and bitwise NOT	
*  /  //  %	Multiplication, division, floor division, and modulus	
+  -	Addition and subtraction	
<<  >>	Bitwise left and right shifts	
&	Bitwise AND	
^	Bitwise XOR	
|	Bitwise OR	
==  !=  >  >=  <  <=  is  is not  in  not in Comparisons, identity, and membership operators	
not	Logical NOT	
and	AND	
or	OR

In [41]:
print (3+2-2*4/2*2)

-3.0

In [42]:
universe_age: int = 14_000_000_000
print (universe_age)

14000000000

In [43]:
a, b, c = 'a', 7, 3.0
print (a)
print (b)
print (c)

a
7
3.0

In [45]:
data = 'a', 7, 3.0
print (*data)

a 7 3.0

Warlus operators

In [47]:
a: int =5
if ( a < (b := a + 5)):
    print(b)
else:
    print ('else is not working')

10

In [48]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!